body {
  background-color: #e6e6ec;
  font-family: "Zen Loop", cursive;
  font-size: 20px;
  /* border: 2px solid yellow; */
  height: 100vh;
  overflow: hidden;
  background-image: url(Mamaaa.png);
  background-repeat: no-repeat;
  background-size: contain 100%;
  background-position: center;
}

main {
  width: auto;
  margin: auto;
}
.image {
  margin: auto;
  /* border: 2px solid hotpink; */
}

img {
  width: auto;
}

.timer {
  /* border: 2px red solid; */
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-bottom: 50px;
}
.none-image {
  /* border: 2px red solid; */
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.countdown-timer {
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-timer > h2 {
  border: 2px solid #fb0433;
  /* background: #f6e7cf; */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-weight: 700;
}

.heading {
  /* border: 2px solid slateblue; */
  text-align: center;
}

.floats {
  position: absolute;
  bottom: -50vh;
  animation: floatup 5s infinite;
  width: 40vw;
}
@keyframes floatup {
  0% {
    bottom: -50vh;
  }
  100% {
    bottom: 100vh;
  }
}

@media (max-width: 541px) {
  .timer {
    border: 2px blue solid;
    display: flex;
    justify-content: center;
    z-index: 2;
    /* position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  .countdown-timer {
    /* border: 3px solid green; */
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .countdown-timer > h4 {
    border: 2px solid green;
    /* background: #f6e7cf; */
    padding: 10px;
    margin: 0;
    border-radius: 15px;
  }
  .heading {
    border: 2px solid slateblue;
    width: 300px;
    text-align: center;
    /* position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%); */
  }
  .floats {
    width: 80vw;
  }
}
