body {
  background-color: #e6e6ec;
  font-family: "Zen Loop", cursive;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
  background-image: url(Mamaaa.png);
  background-repeat: no-repeat;
  background-size: contain 100%;
  background-position: center;
}

main {
  width: auto;
  margin: auto;
}

.timer {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-bottom: 50px;
}
.none-image {
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.countdown-timer {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-timer > h2 {
  border: 2px solid #fb0433;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-weight: 600;
  width: 35px;
}
.colon {
  font-weight: 900;
  font-size: 30px;
}
.heading {
  text-align: center;
}

/* Ballon style */
.floats {
  position: absolute;
  bottom: -50vh;
  animation: floatup 7s infinite;
  width: 40vw;
}
@keyframes floatup {
  0% {
    bottom: -50vh;
  }
  100% {
    bottom: 100vh;
  }
}

@media (max-width: 541px) {
  .timer {
    /* max-width: 70vw; */
  }
  .none-image {
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .countdown-timer {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .heading {
    width: 400px;
    text-align: center;
    font-size: 34px;
  }
  /* Ballon style */
  .floats {
    width: 80vw;
  }
}
@media (max-width: 350px) {


  .countdown-timer > h2 {
    border: 2px solid #fb0433;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-weight: 600;
    width: 32px;
  }

  .heading {
    width: 320px;
    font-size: 30px;

  }
}